<!--<h1>Login#rootview</h1>
<p>Find me in app/views/login/rootview.html.erb</p>-->
<h1>Welcome to krumbrl pre-alpha</h1>

<h2>Existing user? Enter email to sign in </h2>
<input type="text" placeholder="enter the email you signed up with">
<button> Sign In </button>

<h2>First time here? </h2>
<button type = "push"> Click here to sign up! </button>
