<!--<h1>Login#rootview</h1>
<p>Find me in app/views/login/rootview.html.erb</p>-->
<h1>Hello!</h1>
<p>If you can read this, the controller 'login' and view 'rootview' have been
  successfully generated and created!</p>
